<div class="container-fluid body">
        <div class="imagg">
                <img src="http://news.efinancialcareers.com/binaries/content/gallery/efinancial-careers/articles/2019/04/github.jpg" height="100vh">
            </div>
            <h1><strong>SEARCH A GITHUB USER</strong></h1>
            
            <form action="" class="drac">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="username"
                  [(ngModel)]="username"
                  name="username"
                  (keyup)="findUser()"
                />
              </div>
            </form>
            <div class="container-fluid" *ngIf="user">
              <div class="panel panel-default">
                <div class="panel-heading container-fluid">
                  <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                                {{ user.name }}
                                {{ user.login }}
                                {{ user.location }}
                                {{ user.email }}
                        </p>
                       
                      </div>
                </div>
                <div class="panel-body container-fluid">
                  <div class="row col-sm-3">
                    <img src="{{ user.avatar_url }}" />
                  </div>
                  <div class="col-sm-5">
                    <ul class="list-groups">
                      <li class="list-group-item" *ngIf="user.bio">{{ user.bio }}</li>
                      <li class="list-group-item" *ngIf="user.hireable">
                        Available for hire
                      </li>
                      <li class="list-group-item" *ngIf="user.email">
                        <a href="emailto:{{ user.email }}"> {{ user.email }}</a>
                      </li>
                      <li class="list-group-item" *ngIf="user.blog">
                        <a href="{{ user.blog }}" target="_blank">{{ user.blog }}</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-4 container-fluid">
                    <p>
                      <span class="label label-default btn btn-warning m-1"
                        >{{ user.followers }} Followers</span
                      >
                      <span class="label label-primary btn btn-success m-1"
                        >{{ user.following }} Following</span
                      >
                      <span class="label label-success btn btn-dark m-1">{{ user.public_gists }} Gists</span>
                      <span class="label label-warning btn btn-info m-1">{{ user.public_repos }} repos</span>
                    </p>
                    <p>
                      <a
                        href="{{ user.html_url }}"
                        target="_blank"
                        class="btn btn-success btn-sm"
                        >View on github</a
                      >
                    </p>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h2 appHighlight>Repos</h2>
                      </div>
                      <div class="panel-body" *ngFor="let repo of repos">
                        <p>
                            <br>
            
                            
                            <br>
                            <div class="card">
                                    <div class="card-header">
                                            {{ repo.name }}
                                    </div>
                                    <div class="card-body">
                                      <p class="card-text">{{repo.description}}</p>
                                      <p class="card-title">created on {{repo.created_at| date}}</p>
                          <a
                            href="{{ repo.html_url }}"
                            target="_blank"
                            class="btn btn-sm btn-warning"
                          >
                            More details</a
                          >
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
</div>